[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"
rope = "*"

[packages]
pandas = "*"
tqdm = "*"
numpy = "*"
Unidecode = "*"
text-utils = {editable = true, path = "./../text-utils"}
cmudict-parser = {editable = true, path = "./../cmudict-parser"}
speech-dataset-preprocessing = {editable = true, path = "./../speech-dataset-preprocessing"}
audio-utils = {editable = true, path = "./../audio-utils"}
image-utils = {editable = true, path = "./../image-utils"}
speech-dataset-parser = {editable = true, path = "./../speech-dataset-parser"}
text-selection = {editable = true, path = "./../text-selection"}

[requires]
python_version = "3.8"
